<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<dict>
		<key>main_1</key>
		<string>#d3b788</string>
		<key>main_2</key>
		<string>#ffffff</string>
		<key>main_3</key>
		<string>#9f7c59</string>
		<key>main_4</key>
		<string>#C6AD8F</string>
		<key>main_5</key>
		<string>#3c3c3c</string>
		<key>btnBgSelected</key>
		<string>#d3b788</string>
		<key>btnBgNormal</key>
		<string>#d3b788</string>
		<key>btnBgEnabledNo</key>
		<string>#ededed</string>
		<key>btnBgEnabledYes</key>
		<string>#d3b788</string>
		<key>btnBgHighlighted</key>
		<string>#d3b788</string>
		<key>txt_1</key>
		<string>#3c3c3c</string>
		<key>txt_2</key>
		<string>#6c6c6c</string>
		<key>txt_3</key>
		<string>#b0b0b0</string>
		<key>txt_4</key>
		<string>#b0b0b0</string>
		<key>txt_5</key>
		<string>#b0b0b0</string>
		<key>bg</key>
		<string>#f2f2f2</string>
		<key>line_1</key>
		<string>#e5e5e5</string>
		<key>line_2</key>
		<string>#e5e5e5</string>
		<key>warning</key>
		<string>#e54f4f</string>
		<key>error</key>
		<string>#ff0000</string>
		<key>shadow</key>
		<string>#ededed</string>
	</dict>
	<key>font</key>
	<dict>
		<key>fitSizeiPad</key>
		<integer>6</integer>
		<key>fitSizeiPhone320</key>
		<integer>-1</integer>
		<key>fitSizeiPhone375</key>
		<integer>0</integer>
		<key>fitSizeiPhone414</key>
		<real>1.5</real>
		<key>name</key>
		<string>PingFangSC-Light</string>
		<key>nameBold</key>
		<string>PingFangSC-Medium</string>
		<key>nameMedium</key>
		<string>PingFangSC-Medium</string>
		<key>nameThin</key>
		<string>PingFangSC-Thin</string>
		<key>nameRegular</key>
		<string>PingFangSC-Regular</string>
		<key>nameSemibold</key>
		<string>PingFangSC-Semibold</string>
		<key>nameUltralight</key>
		<string>PingFangSC-Ultralight</string>
	</dict>
	<key>fit</key>
	<dict>
		<key>widthAxure</key>
		<real>750.1</real>
	</dict>
	<key>image</key>
	<dict>
		<key>placeholderUserIconBig</key>
		<string>com_头像</string>
		<key>placeholderUserIconSmall</key>
		<string>com_头像</string>
		<key>placeholderBgBig</key>
		<string>placeholderImg</string>
		<key>placeholderBgSmall</key>
		<string>placeholderImg</string>
		<key>placeholderBgBigRectangle</key>
		<string>placeholderImg</string>
		<key>placeholderBgSmallRectangle</key>
		<string>placeholderImg</string>
	</dict>
</dict>
</plist>
