<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color_main_1</key>
	<string>#d3b788</string>
	<key>color_main_2</key>
	<string>#ffffff</string>
	<key>color_main_3</key>
	<string>#9f7c59</string>
	<key>color_main_4</key>
	<string>#C6AD8F</string>
	<key>color_main_5</key>
	<string>#3c3c3c</string>
	<key>color_btnBg_selected</key>
	<string>#d3b788</string>
	<key>color_btnBg_normal</key>
	<string>#d3b788</string>
	<key>color_btnBg_enabledNo</key>
	<string>#ededed</string>
	<key>color_btnBg_highlighted</key>
	<string>#d3b788</string>
	<key>color_txt_1</key>
	<string>#3c3c3c</string>
	<key>color_txt_2</key>
	<string>#6c6c6c</string>
	<key>color_txt_3</key>
	<string>#b0b0b0</string>
	<key>color_txt_4</key>
	<string>#b0b0b0</string>
	<key>color_txt_5</key>
	<string>#b0b0b0</string>
	<key>color_bg</key>
	<string>#ffffff</string>
	<key>color_line_1</key>
	<string>#e5e5e5</string>
	<key>color_line_2</key>
	<string>#e5e5e5</string>
	<key>color_warning</key>
	<string>#e54f4f</string>
	<key>color_shadow</key>
	<string>#ededed</string>
	<key>font_fitSizeiPad</key>
	<integer>6</integer>
	<key>font_fitSizeiPhoneX</key>
	<integer>0</integer>
	<key>font_fitSizeiPhoneSE</key>
	<integer>-1</integer>
	<key>font_fitSizeiPhoneA</key>
	<integer>0</integer>
	<key>font_fitSizeiPhoneP</key>
	<integer>0</integer>
	<key>font_name</key>
	<string>PingFangSC-Light</string>
	<key>font_nameBold</key>
	<string>PingFangSC-Medium</string>
	<key>font_nameThin</key>
	<string>PingFangSC-Thin</string>
	<key>font_nameRegular</key>
	<string>PingFangSC-Regular</string>
	<key>font_nameSemibold</key>
	<string>PingFangSC-Semibold</string>
	<key>font_nameUltralight</key>
	<string>PingFangSC-Ultralight</string>
	<key>fit_widthAxure</key>
	<integer>750</integer>
	<key>img_placeholderUserIconBig</key>
	<string>com_头像</string>
	<key>img_placeholderUserIconSmall</key>
	<string>com_头像</string>
	<key>img_placeholderBgBig</key>
	<string>placeholderImg</string>
	<key>img_placeholderBgSmall</key>
	<string>placeholderImg</string>
	<key>img_placeholderBgBigRectangle</key>
	<string>placeholderImg</string>
	<key>img_placeholderBgSmallRectangle</key>
	<string>placeholderImg</string>
</dict>
</plist>
