<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<dict>
		<key>main_1</key>
		<string>FC511F</string>
		<key>main_2</key>
		<string>FC981F</string>
		<key>main_3</key>
		<string>1C9DFF</string>
		<key>main_4</key>
		<string>1C9DFF</string>
		<key>main_5</key>
		<string>3CCCFF</string>
		<key>btnBgSelected</key>
		<string>1C9DFF</string>
		<key>btnBgNormal</key>
		<string>1C9DFF</string>
		<key>btnBgEnabledNo</key>
		<string>DE</string>
		<key>btnBgEnabledYes</key>
		<string>1C9DFF</string>
		<key>btnBgHighlighted</key>
		<string>1C9DFF</string>
		<key>txt_1</key>
		<string>#3</string>
		<key>txt_2</key>
		<string>#6</string>
		<key>txt_3</key>
		<string>#9</string>
		<key>txt_4</key>
		<string>#1C9DFF</string>
		<key>txt_5</key>
		<string>#d4</string>
		<key>bg</key>
		<string>#f2</string>
		<key>line_1</key>
		<string>#e5</string>
		<key>line_2</key>
		<string>#f0</string>
		<key>warning</key>
		<string>#e54f4f</string>
		<key>error</key>
		<string>#ff0000</string>
		<key>shadow</key>
		<string>#ededed</string>
	</dict>
	<key>fit</key>
	<dict>
		<key>widthAxure</key>
		<real>750.1</real>
	</dict>
	<key>placeholder</key>
	<dict>
		<key>userIconBig</key>
		<string>placeholderUserIconBig</string>
		<key>userIconSmall</key>
		<string>placeholderUserIconSmall</string>
		<key>imgBig</key>
		<string>placeholderImg</string>
		<key>imgSmall</key>
		<string>placeholderImg</string>
		<key>imgBigRectangle</key>
		<string>placeholderImg</string>
		<key>imgSmallRectangle</key>
		<string>placeholderImg</string>
	</dict>
	<key>font</key>
	<dict>
		<key>fitSizeiPad</key>
		<integer>6</integer>
		<key>fitSizeiPhone320</key>
		<integer>-1</integer>
		<key>fitSizeiPhone375</key>
		<integer>0</integer>
		<key>fitSizeiPhone414</key>
		<real>1.5</real>
		<key>name</key>
		<string>PingFangSC-Regular</string>
		<key>nameBold</key>
		<string>PingFangSC-Medium</string>
		<key>nameMedium</key>
		<string>PingFangSC-Medium</string>
		<key>nameThin</key>
		<string>PingFangSC-Thin</string>
		<key>nameRegular</key>
		<string>PingFangSC-Regular</string>
		<key>nameSemibold</key>
		<string>PingFangSC-Semibold</string>
		<key>nameUltralight</key>
		<string>PingFangSC-Ultralight</string>
		<key>nameLight</key>
		<string>PingFangSC-Light</string>
		<key>nameHeavy</key>
		<string>PingFangSC-Heavy</string>
		<key>nameBlack</key>
		<string>PingFangSC-Black</string>
	</dict>
</dict>
</plist>
