<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<dict>
		<key>navigation0</key>
		<string>0088FE</string>
		<key>navigation1</key>
		<string>00AEFF</string>
		<key>tabbar0</key>
		<string>3</string>
		<key>tabbar1</key>
		<string>00A6FF</string>
		<key>main_1</key>
		<string>00A6FF</string>
		<key>main_2</key>
		<string>FF3B30</string>
		<key>main_3</key>
		<string>C1</string>
		<key>main_4</key>
		<string>FF3A33</string>
		<key>main_5</key>
		<string>FF5F03</string>
		<key>selected</key>
		<string>00A6FF</string>
		<key>normal</key>
		<string>00A6FF</string>
		<key>enabledFalse</key>
		<string>DE</string>
		<key>enabledTrue</key>
		<string>00A6FF</string>
		<key>highlighted</key>
		<string>00A6FF</string>
		<key>txt_1</key>
		<string>3</string>
		<key>txt_2</key>
		<string>6</string>
		<key>txt_3</key>
		<string>9</string>
		<key>txt_4</key>
		<string>A3</string>
		<key>txt_5</key>
		<string>BDC3C7</string>
		<key>price</key>
		<string>FF3B30</string>
		<key>bg</key>
		<string>#f5</string>
		<key>line_1</key>
		<string>#e5</string>
		<key>line_2</key>
		<string>#f0</string>
		<key>warning</key>
		<string>#e54f4f</string>
		<key>error</key>
		<string>#ff0000</string>
		<key>shadow</key>
		<string>#ededed</string>
	</dict>
	<key>colorDark</key>
	<dict>
		<key>navigation0</key>
		<string>0</string>
		<key>navigation1</key>
		<string>3</string>
		<key>tabbar0</key>
		<string>00A6FF</string>
		<key>tabbar1</key>
		<string>00A6FF</string>
		<key>main_1</key>
		<string>00A6FF</string>
		<key>main_2</key>
		<string>FF3B30</string>
		<key>main_3</key>
		<string>C1</string>
		<key>main_4</key>
		<string>FF3A33</string>
		<key>main_5</key>
		<string>FF5F03</string>
		<key>selected</key>
		<string>00A6FF</string>
		<key>normal</key>
		<string>00A6FF</string>
		<key>enabledFalse</key>
		<string>DE</string>
		<key>enabledTrue</key>
		<string>00A6FF</string>
		<key>highlighted</key>
		<string>00A6FF</string>
		<key>txt_1</key>
		<string>f</string>
		<key>txt_2</key>
		<string>f5</string>
		<key>txt_3</key>
		<string>f0</string>
		<key>txt_4</key>
		<string>A3</string>
		<key>txt_5</key>
		<string>BDC3C7</string>
		<key>price</key>
		<string>FF3B30</string>
		<key>bg</key>
		<string>3</string>
		<key>line_1</key>
		<string>3</string>
		<key>line_2</key>
		<string>f0</string>
		<key>warning</key>
		<string>e54f</string>
		<key>error</key>
		<string>ff00</string>
		<key>shadow</key>
		<string>f0</string>
	</dict>
	<key>fit</key>
	<dict>
		<key>widthAxure</key>
		<integer>375</integer>
	</dict>
	<key>placeholder</key>
	<dict>
		<key>userIconBig</key>
		<string>placeholderUserIconBig</string>
		<key>userIconSmall</key>
		<string>placeholderUserIconSmall</string>
		<key>imgBig</key>
		<string>placeholderImg</string>
		<key>imgSmall</key>
		<string>placeholderImg</string>
		<key>imgBigRectangle</key>
		<string>placeholderImg</string>
		<key>imgSmallRectangle</key>
		<string>placeholderImg</string>
	</dict>
	<key>font</key>
	<dict>
		<key>fitSizeiPad</key>
		<integer>6</integer>
		<key>fitSizeiPhone320</key>
		<integer>-1</integer>
		<key>fitSizeiPhone375</key>
		<integer>0</integer>
		<key>fitSizeiPhone414</key>
		<real>1.5</real>
		<key>default</key>
		<string>PingFangSC-Regular</string>
		<key>bold</key>
		<string>PingFangSC-Medium</string>
		<key>medium</key>
		<string>PingFangSC-Medium</string>
		<key>thin</key>
		<string>PingFangSC-Thin</string>
		<key>regular</key>
		<string>PingFangSC-Regular</string>
		<key>semibold</key>
		<string>PingFangSC-Semibold</string>
		<key>ultralight</key>
		<string>PingFangSC-Ultralight</string>
		<key>light</key>
		<string>PingFangSC-Light</string>
		<key>heavy</key>
		<string>PingFangSC-Heavy</string>
		<key>black</key>
		<string>PingFangSC-Black</string>
	</dict>
</dict>
</plist>
